<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

  <ul class="nav menu">
    <h4 class="header">My Account</h4>
    <li role="presentation" class="header-divider"></li>
    {{#if user}}
      {{#each userMenu}}
        <li class="{{isCurrent href ../currentUrl}}">
          <a href={{href}}><span class="glyphicon glyphicon-{{glyphicon}}"></span> {{title}}</a>
        </li>
      {{/each}}
    {{else}}
      <li class="text-center">
        <div class="btn-group btn-group-justified sidebar-signup-login" role="group" aria-label="Login">
          <a href="/signup" class="btn btn-primary">Sign Up</a>
          <a href="/login" class="btn btn-primary">Log In</a>
        </div>
      </li>
    {{/if}}

    <h4 class="header">EPSClubs</h4>
    <li role="presentation" class="header-divider"></li>
    {{#each guestMenu}}
      <li class="{{isCurrent href ../currentUrl}}">
        <a href={{href}}><span class="glyphicon glyphicon-{{glyphicon}}"></span> {{title}}</a>
      </li>
    {{/each}}

    {{#if user}}
      <li role="presentation" class="divider"></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
    {{/if}}
  </ul>

  <div class="attribution">Template by <a href="http://www.medialoot.com/item/lumino-admin-bootstrap-template/">Medialoot</a></div>
</div>
